@import "./../scss/variables";
@font-face {
    font-family: effra;
    src: url('../fonts/effra/Effra_Std_Bd.ttf') format('ttf'),
        url('../fonts/effra/Effra_Std_Lt.ttf') format('ttf'),
        url('../fonts/effra/Effra_Std_Rg.ttf') format('ttf');
}
body { 
    font-size: 18px;
    color: #031D44 !important;
    font-family: effra, sans-serif;
}