@import "./../scss/variables";

@font-face {
    font-family: 'effra';
    src: url('../fonts/effra/Effra_Std_Bd.ttf') format('ttf'),
        url('../fonts/effra/Effra_Std_Lt.ttf') format('ttf'),
        url('../fonts/effra/Effra_Std_Rg.ttf') format('ttf');
}

body { 
    font-size: 18px;
    color: #031D44 !important;
    font-family: effra, sans-serif;
    /*color: #6E86B0 !important;*/
}
.sunsetContainer {





    .notificationContainer {
        z-index: 1000000;
        position: fixed;
        width: 485px;
        bottom: 35px;
        margin: auto;
        left: 0;
        right: 0;
        background: #eee;
        border-radius: 5px;
        box-shadow: 0 0.16rem 0.36rem 0 rgba(0, 0, 0, 0.13), 0 0.03rem 0.09rem 0 rgba(0, 0, 0, 0.11);
        -webkit-animation: fadein 2s linear; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s linear; /* Firefox < 16 */
        -ms-animation: fadein 2s linear; /* Internet Explorer */
        -o-animation: fadein 2s linear; /* Opera < 12.1 */
        animation: fadein 2s linear;
        @media #{$mobile} {
            bottom: 225px;
            -webkit-animation: fadeinMobile 2s linear; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadeinMobile 2s linear; /* Firefox < 16 */
            -ms-animation: fadeinMobile 2s linear; /* Internet Explorer */
            -o-animation: fadeinMobile 2s linear; /* Opera < 12.1 */
            animation: fadeinMobile 2s linear;
        }
        @media screen and (max-width: 500px) {
            width: 97% !important;
        }
        .notificationText, .line {
            display: inline-block;
            vertical-align: middle;
        }
        .notificationText {
            position: relative;
            bottom: 7px;
            width: 80%;
            padding: 15px;
            padding-top: 0;
            padding-bottom: 0;
            @media #{$mobile} {
                font-size: 0.7em;
                bottom: 6px;
                width: 75%;
            }
            .status {
                color: rgba(0,0,0, 0.85);
                text-align: left;
                position: relative;
                top: 15px;
                font-weight: bold;
                margin-top: 5px;
                display: inline-block;
            }
            .text {
                margin-bottom: 5px;
            }
            .escape {
                position: absolute;
                top: 13px;
                right: 13px;
                opacity: 0.35;
                transition: all .3s;
                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
                @media #{$mobile} {
                   right: 8px; 
                }
            }
        }
        .line {
            height: 60px;
            width: 5px;
            background: #4FA47D;
            border-radius: 5px;
            margin-left: 1.5%;
            @media #{$mobile} {
                height: 40px;
            }
            &.error {
                background: #BA3B46;
            }
        }
        .check {
            width: 35px;
            vertical-align: text-top;
            display: inline-block;
            margin-left: 5%;
            margin-right: 5%;
            bottom: 4px;
            position: relative;
            @media (max-width: 350px) {
                bottom: 0;
                width: 25px;
            }
        }
    }

    @keyframes fadein {
        from { bottom: 0px; }
        to { bottom: 35px; }
        0% { opacity: 0; }
        50% { opacity: 1; }
    }

    @keyframes fadeinMobile {
        from { bottom: 200px; }
        to { bottom: 225px; }
        0% { opacity: 0; }
        50% { opacity: 1; }
    }








    position: relative;
    .section {
        display: inline-block;
        width: 50%;    
        height: 98.5vh;
        vertical-align: top;
        @media #{$mobile, $biggerMobile} {
            display: block;
            width: 100%;
        }
        @media (min-width: 480px) and (max-width: 760px) {
            height: 50vh;
        }
    }
    .innerContent {
        position: relative;
        top: 25%;
        margin: auto;
        width: 400px;
        @media (min-width: 760px) and (max-width: 900px) {
            padding: 15px;
        }
        .header {
            font-size: 62px;
            font-weight: 650;
            line-height: 1.2;
            /*width: 89%;*/
            @media (min-width: 760px) and (max-width: 900px) {
                font-size: 55px;
            }
            @media #{$mobile} {
                font-size: 48px;
            }
            @media #{$biggerMobile} {
                 font-size: 52px;
            }
        }
    }
    .successButton {
        background: #094CB1;
        height: 44px !important;
        border: 1px solid #031D44;
        padding: 6px 12px;
        border-radius: 5px;
        color: #fafafa;
        cursor: pointer;
        margin-bottom: 20px;

        @media #{$mobile} {
            width: 100%; 
        }
        @media #{$regular} {
            width: 44%;
        }
        &:hover {
            background-color: #031D44;
            border-color: #031D44;
        }
        &:focus { outline: 0 }
        &.signupButton {
            width: 100%;
        }
    }
    label {
        display: block !important;
        margin-bottom: 0.25em !important;
    }
    .link {
        padding-bottom: 3px;
        border-bottom: 2px solid #031D44;
        text-decoration: none !important;
    }
    .bottomSection {
        background: rgba(3, 29, 68, 0.75);
        height: 1.5vh;
        @media #{$mobile, $biggerMobile} {
            display: none;
        }
    }
    .successNotification {
        color: #2b9401;
        -webkit-animation: fadeinout 6.25s linear forwards;
        -moz-animation: fadeinout 6.25s linear forwards;
        -o-animation: fadeinout 6.25s linear forwards;
        animation: fadeinout 6.25s linear forwards;
    }
    @keyframes fadeinout {
        0% { opacity: 0; }
        50% { opacity: 1; }
        100% { opacity: 0; }
    }
    .successText {
        color: #2b9401;
    }
    .notificationText {
        opacity: 1;
        -webkit-animation: fadeInOpacity 0.75s ease-in;
        -moz-animation: fadeInOpacity 0.75s ease-in;
        -o-animation: fadeInOpacity 0.75s ease-in;
        animation: fadeInOpacity 0.75s ease-in;
        @media #{$regular} {
            padding-left: 0px;
        }
    }
    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .showMobile {
         @media #{$mobile, $biggerMobile} {
            display: block;
         }
         @media #{$regular} {
            display: none;
         }
    }
    .hideMobile {
        @media #{$mobile, $biggerMobile} {
           display: none;
        }
         @media #{$regular} {
            display: block;
         }
    }
}