@import "./../scss/variables";

.errorDisplay {
    position: relative;
    @media #{$regular} {
        bottom: 5px;
    }
    @media #{$mobile} {
        font-size: 17px;
    }
     @media #{$mobile, $biggerMobile} {
        bottom: 10px;
     }
    .errorContent {
        @media #{$mobile} {
            margin-top: 15px;
        }
        color: #c9302c;
        .closeLink {
            cursor: pointer;
            color: #555 !important;
            float: right;
        }
        .x {
            position: relative;
            bottom: 9px;
            left: 1px;
            float: right;
            color: #555;
        }
        .invalidError {
            @media #{$mobile} {
                width: 97%;
            }
            @media #{$regular} {
                width: 88%;
            }
        }
        .duplicateError {
            @media #{$mobile} {
                width: 99%;
            }
            @media #{$regular} {
                width: 97.2%;
            }
        }
    }
}