@import "../scss/variables";

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    padding-bottom: 75px;
    @media (max-width: 725px) {
        padding-bottom: 25px;
        padding: 25px;
    }
    @media (max-width: 550px) {
        display: none;
    }
}

#header .made-by {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
    /*.avatar {
    	&:hover {
    		background-image: ("./images/color-profile.png");
    	}
    }*/
    a {
    	color: #031D44;
    	text-decoration: none;
    }
    /*img {
    	position: absolute;
  		top: 40px;
  		left: 128px;
    }*/
    a img:last-child {
    	opacity: 0;
    	z-index: 1;
    }
    a:hover img:last-child {
    	opacity: 1;
    	transition: all .5s;
    }
    a:hover img:first-child {
    	z-index: 1000;
    	opacity: 0;
    }
}

#header .made-by span {
    margin-right: 10px;
}

#header .screen-orientation {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (max-width: 450px) {
        display: none;
    }
}

#header .screen-orientation button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    img {
        &:hover {
            opacity: 0.75;
        }
    }
}

#header .screen-orientation button:last-child {
    margin: 0;
}

#header .avatar {
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 100px;
}