@import "../scss/variables";
.horizontalWrapper {
    background: radial-gradient(100% 100% at 50% 100%, #9CCEFA 0%, rgba(212, 232, 250, 0.8) 100%);
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s;
    text-align: center;
   /* .vertical {
        border: 1px solid #555;
        width: 75%;
        height: 250px;
        margin: auto;
        position: relative;
        top: 50px;
    }*/

    .landing {
        margin-bottom: 6%;
        .actions .actionBtn {
            margin-right: 40px;
            vertical-align: top;
        }
    }

    #footer {
        background: url("./../images/suns-wave-horizontal.png");
        background-repeat: repeat-x;
        animation: bgscroll 55s infinite linear;
        animation-fill-mode: forwards;
    }

    #footer .animation {
        width: 100%;
        height: 235px;
        position: relative; 
    }

    @keyframes bgscroll {
        from { background-position: 0 0; }
        to  { background-position: -1450px 0; } /*set the document width as the negative number and you should have a seamless scroll*/
    }
}


.landing .intro h1 {
    font-family: Effra;
    font-style: normal;
    font-weight: bold;
    font-size: 62px;
    line-height: 74px;
    color: #293444;
}

.landing .intro span {
    font-family: Effra;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
    color: #293444;
}

.landing .actions {
    margin-top: 20px;
    .loadingContainer {
        display: inline-block;
        /*vertical-align: bottom;*/
        /*position: relative;
        top: 14px;*/
        margin-right: 70px;
        .loadingBar {
            height: 10px;
            width: 100%;
            max-width: 320px;
            height: 22px;
            width: 300px;
            border-radius: 7px;
            border: none;
            /*box-shadow: inset 0px 0px 0px 1px;*/
            padding: 0;
            
            @keyframes progress-animation {
                0% {width: 0%;}
                20% {width: 10%;}
                40% {width: 30%;}
                50% {width: 60%;}
                100% {width: 90%;}
            }

            .progressBar {
                display: flex;
                height: 100%;
                width: 100%;
                background: #ccc;
                border-radius: 7px;
                animation: progress-animation 5s ease-in-out;
            }
        }
        .text {
            display: block;
            position: relative;
            bottom: 5px;
        }
    }
}

.landing .actions .actionBtn {
    background: #457AE6;
    border-radius: 8px;
    border: none;
    font-family: Effra;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
    width: 334px;
    height: 45px;
}

.landing .actions .actionBtn a {
    color: #ffffff;
}

.landing .actions .actionBtn:last-child {
    border: 1px solid rgba(41, 52, 68, 0.5);
    box-sizing: border-box;
    border-radius: 8px;
    background: none;
    color: rgba(41, 52, 68, 1);
    margin: 0;
}

.landing .actions .actionBtn:last-child a {
    color: rgba(41, 52, 68, 1);
}

.verticalWrapper {
    background: radial-gradient(100% 100% at 50% 100%, #9CCEFA 0%, rgba(212, 232, 250, 0.8) 100%);
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    .column {
        flex-basis: 50%;
        height: 100vh;
    }
    .landing {
        padding: 16%;
        padding-top: 0;
        padding-bottom: 0;
        .actions button {
            width: 48%;
            &:nth-of-type(2) {
                margin-left: 15px;
            }
        }
    }
    #footer {
        background: url("./../images/suns-wave-vertical.png");
        background-repeat: repeat-y;
        animation: bgscrollVertical 55s infinite linear;
        animation-fill-mode: forwards;
    }

    #footer .animation {
       /* width: 100%;*/
        height: calc(100vh - 3px);
        position: relative; 
    }

    @keyframes bgscrollVertical {
        from { background-position: 0 0; }
        to  { background-position: 0 -1450px; } /*set the document width as the negative number and you should have a seamless scroll*/
    }
}









































.informationSection {
    background: #fafafa;
    &.hideInformationSection {
        @media (max-width: 760px) {
            display: none;
        }
    }
    @media #{$mobile} {
        height: 55vh !important;
    }
    @media #{$mobile, $biggerMobile} {
        position: absolute;
        top: 100%;
        width: 100%;
    }
    .innerContent {
        @media #{$mobile} {
            width: 350px;
            top: 1.5%;
            padding: 10px;
            padding-top: 0px;
        }
        @media #{$biggerMobile} {
            top: 10%;
            width: 375px;
        }
        .successButton {
             @media #{$mobile} {
                margin-bottom: 15px !important;
             }
        }
        .signupLink {
            margin-left: 6%;
            cursor: pointer;
            vertical-align: text-bottom;
            &:hover {
                background-color: rgba(3, 29, 68, 0.75);
                color: #fafafa;
                border-color: #aaa;
                border-radius: 5px;
                border-bottom: none;
                text-decoration: none !important;
                border: 1px solid #031D44;
                height: 44px;
                display: inline-block;
                vertical-align: middle;
                padding: 6px 12px;
                margin-left: 4%;
            }
            @media #{$mobile} {
                border-color: #aaa;
                border-radius: 5px;
                border-bottom: none;
                text-decoration: none !important;
                border: 1px solid #031D44;
                height: 44px;
                display: inline-block;
                vertical-align: middle;
                padding: 6px 12px;
                margin-left: 0px;
                width: 100%;
                text-align: center;
            }
        }
        .signupButton {
            opacity: 1;
            -webkit-animation: fadeInOpacity 1.5s ease-in;
            -moz-animation: fadeInOpacity 1.5s ease-in;
            -o-animation: fadeInOpacity 1.5s ease-in;
            animation: fadeInOpacity 1.5s ease-in;
            width: 100%;
        }
        @keyframes fadeInOpacity {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        .extraWide {
            width: 100%;
        }
        .valuePropText {
            margin-bottom: 50px;
            line-height: 1.35;
            @media #{$mobile, $biggerMobile} {
                margin-bottom: 20px;
            }
             @media #{$mobile, $regular} {
                font-size: 22px;
             }
            @media #{$mobile} {
                font-size: 18px;
            }
        }
        .actionsContainer {
            position: relative;
            bottom: 5px;
            margin-bottom: 25px;
            @media #{$mobile} {
                margin-bottom: 0px;
            }
            input, button {
                /*width: 45%;*/
                display: inline-block;
                height: 44px !important;
            }
            .inputContainer, .linksContainer {
                display: inline-block;
            }
            .inputContainer {
                @media #{$mobile} {
                    width: 45%;
                }
            }
            .linksContainer {
                margin-left: 5%;
                @media #{$mobile} {
                    width: 50%;
                }
                a {
                    margin-bottom: 0.25em;
                    display: block;
                    cursor: pointer;
                    width: 47px;
                    height: 27px;
                    overflow: visible;

                    &:hover {
                        border-bottom: 2px solid #031D44;;
                    };
                }
                .sendSunsets {
                    width: 175px !important;
                }
                .successButton {
                    margin-bottom: 0px !important;
                    @media #{$mobile} {
                        width: 100% !important;
                    }
                }
            }
            .linksContainerPlain {
                vertical-align: inherit;
            }
        }
    }
    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}