@import "../scss/variables";
.outerContainer {
    display: inline;
    background: #fafafa;
}
.resultsSection {
    @media #{$mobile} {
        height: 45vh !important;
    }
    background-image: url('./../images/bg-home.png') !important;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -moz-appearace:none;
    -webkit-appearace:none;
    appearace:none;
    color: #fafafa;

    /*&.poorResult {
        background-image: url('./../images/bg-poor.png')!important;
    }
    &.fairResult {
        background-image: url('./../images/bg-fair.png') !important;
    }
    &.goodResult {
        background-image: url('./../images/bg-good.png') !important;
    }
    &.greatResult {
        background-image: url('./../images/bg-great.png') !important;
    }*/

    &.fullView {
        -webkit-backface-visibility: hidden;
        -webkit-transition: all 200ms ease-in-out 300ms;
        -moz-transition: all 200ms ease-in-out 300ms;
        -o-transition: all 200ms ease-in-out 300ms;
        transition: all 200ms ease-in-out 300ms;
        background-repeat: no-repeat;

        @media #{$mobile, $biggerMobile} {
            height: 100vh !important;
            -webkit-transition: all 800ms ease-in-out 40ms;
            -moz-transition: all 800ms ease-in-out 40ms;
            -o-transition: all 800ms ease-in-out 40ms;
            transition: all 800ms ease-in-out 40ms;
        }
         .innerContent {
            @media #{$mobile} {
                text-align: center;
            }
         }
    }
    &.shortened {
        height: 65vh !important;
        -webkit-transition: all 800ms ease;
        -moz-transition: all 800ms ease;
        -o-transition: all 800ms ease;
        -ms-transition: all 800ms ease;
        transition: all 800ms ease;
        @media (max-width: 400px) and (min-height: 800px) {
            height: 60vh !important;
        }
    }
    .navbar {
        margin: auto;
        position: relative;
        top: 5%;
        color: #031D44 !important;
        padding: 0;
        @media #{$mobile} {
            width: 295px;
            top: 4%;
        }
        @media #{$biggerMobile} {
            top: 3.5%;
        }
        @media (min-width: 480px) and (max-width: 950px) {
            width: 375px;
        }
        @media #{$regular} {
            width: 450px;
        }
        .docsLink {
            position: relative;
            padding-bottom: 3px;
            cursor: pointer;
            height: 27px;
            overflow: visible;
            &:hover {
                border-bottom: 2px solid #031D44;;
            }
        }
        .backLink {
            position: relative;
            padding-bottom: 3px;
            cursor: pointer;
            height: 27px;
            overflow: visible;
            &:hover {
                border-bottom: 2px solid #031D44;;
            }
        }
    }
    .innerContent {
        @media #{$mobile} {
            width: auto;
            text-align: center;
            top: 2%;
        }
        @media #{$biggerMobile} {
            width: auto;
            text-align: center;
            top: 0%;
        }
        @media (max-width: 400px) and (min-height: 800px) {
            top: 4%;
        }
        &.homePage {
            background-image: url('./../images/bg-home.png');
        }
        .resultsContainer, .rubricTable {
            opacity: 0.85;
            a {
                cursor: pointer;
            }
        }
        &.resultsView {
            opacity: 1;
            -webkit-backface-visibility: hidden;
            animation: fadeInOpacity 1.5s ease-in;
            -webkit-animation: fadeInOpacity 1.5s ease-in;
            -moz-animation: fadeInOpacity 1.5s ease-in;
            -o-animation: fadeInOpacity 1.5s ease-in;

            @media #{$mobile} {
                top: 7%;
                width: 275px !important;
                text-align: left;
            }
            @media #{$biggerMobile} {
                top: 8%;
                width: 295px !important;
                text-align: left;
            }
            
            &.rubricView {
                @media #{$mobile} {
                    top: 5%;
                    width: 295px !important;
                    text-align: left;    
                }
                @media (min-width: 480px) and (max-width: 950px) {
                    width: 400px !important;
                    text-align: left;
                    top: 13%;
                }
                @media #{$regular} {
                    width: 450px;
                    top: 13%;
                }
            }
            .successButton {
                margin-top: 35px;
                width: 100%;
            }
            .downButton {
                float: right;
                @media #{$mobile} {
                    margin-top: 3%;
                }
                @media #{$biggerMobile} {
                    margin-top: 6%;
                }
                @media (max-width: 400px) and (min-height: 800px) {
                    margin-top: 16%;
                }
            }
        }
        @media #{$regular} {
            top: 21%;
            width: 400px;
        }
        .mediumText {
            font-size: 36px;
            opacity: 0.85;
            @media #{$mobile, $biggerMobile} {
                font-size: 27px;
            }
            @media #{$biggerMobile} {
                font-size: 29px;
            }
            &.time, &.temperature, &.quality {
                span {
                    font-weight: 550;
                }
            }
        }
        .changeTemperatureLink {
            margin-left: 10px;
            padding-bottom: 0px;
            &:hover {
                text-decoration: none !important;
                background-color: rgba(3, 29, 68, 0.75);
                padding: 5px;
                border-radius: 5px;
                margin-left: 5px;
            }
        }
        .sunImage {
            -webkit-transition: .3s ease-out;
            -moz-transition: .3s ease-out;
            -o-transition: .3s ease-out;
            transition: .3s ease-out;
            @media #{$mobile} {
                width: 240px;
            }
            @media #{$biggerMobile} {
                width: 305px;
            }
            @media (min-width: 760px) {
                width: 375px;
            }
            @media (min-width: 900px) {
                width: 400px;
            }
            @media (max-width: 400px) and (min-height: 800px) {
                width: 305px;
            }
            &:hover {
                transform: scale(1.13);
                -webkit-transform: scale(1.13);
                -moz-transform: scale(1.13);
                -webkit-transition: .3s ease-out;
                -moz-transition: .3s ease-out;
                -o-transition: .3s ease-out;
                transition: .3s ease-out;
                cursor: pointer;
                opacity: 0.9;
            }
        }
        .spin {
            -webkit-transition: .3s ease-out;
            -moz-transition: .3s ease-out;
            -o-transition: .3s ease-out;     
            transition: .3s ease-out;
            -webkit-animation: spin 4.25s linear infinite;
            -moz-animation: spin 4.25s linear infinite;
            animation: spin 4.25s linear infinite;
        }
        @-moz-keyframes spin { 100% { -moz-transform: scale(1) rotate(360deg); } }
        @-webkit-keyframes spin { 100% { -webkit-transform: scale(1) rotate(360deg); } }
        @keyframes spin { 100% { -webkit-transform: scale(1) rotate(360deg); transform:scale(1) rotate(360deg); } }
        .fetchErrorText {
            color: #fafafa;
            opacity: 0.85;
            font-size: 24px;
            @media #{$mobile} {
                margin-top: 40px;
            }
            .locationLink {
                color: #031D44;
                display: inline-block;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    &.docsView {
        .innerContent {
            @media #{$regular} {
                width: 450px;    
            }
            @media #{$biggerMobile} {
                top: 12%;
                width: 425px !important;
                text-align: left;
            }
            @media #{$mobile} {
                width: 295px !important;
                top: 10%;
                text-align: left;
            }
        }  
    }

    .detailsLink {
        margin-left: 10px;
        padding-bottom: 2px;
        &:hover {
            background-color: rgba(3, 29, 68, 0.75);
            color: #fafafa;
            border-bottom: none;
            text-decoration: none !important;
            padding: 5px;
            margin-left: 5px;
            border-radius: 5px;
        }
    }

    .findSunsetButton {
        margin: auto;
        width: 275px;
        margin-top: 30px;
    }


    $breakpoint-alpha: 480px; // adjust to your needs

    .rubricTable {
        @media (max-width: 760px) {
            font-size: 0.8em;
        }
        td {
            display: block; 
        
            &:first-child {
                padding-top: .5em;
                width: 125px;
                font-weight: 600;
                font-size: 18px;
            }
            &:last-child {
                padding-bottom: .5em;
            }

            /*&:before {
                content: attr(data-th)": "; 
                font-weight: bold;

                // optional stuff to make it look nicer
                width: 6.5em; // magic number :( adjust according to your own content
                display: inline-block;
                // end options

                @media (min-width: $breakpoint-alpha) {
                    display: none;
                }
            }*/
        }
      
      th, td {
        text-align: left;
        
        @media (min-width: $breakpoint-alpha) {
            display: table-cell;
            padding: 1em;
          
          &:first-child {
            padding-left: 0;
          }
          
          &:last-child {
            padding-right: 0;
          }
        }

      }
    }

    .rwd-table {
      overflow: hidden;
        th, td {
            margin: .5em 1em;
            @media (min-width: $breakpoint-alpha) { 
                padding: 1em !important; 
            }
        }
    }
    .showMobile {
        @media #{$mobile, $biggerMobile} {
            display: block;
        }
        @media #{$regular} {
            display: none;
        }
    }
}

.docsContainer {
    font-size: 20px;
    @media #{$mobile} {
        font-size: 18px;
    }
    a {
        color: #031D44;
        &:hover {
            opacity: 0.7;
        }
    }
    .headline {
        /*font-size: 24px;*/
        margin-bottom: 20px;
        @media #{$mobile} {
            font-size: 20px;
        }
    }
    .text {
        margin-bottom: 25px;
    }
    img {
        width: 100px;
        height: 105px;
        vertical-align: top;
        border-radius: 50%;
    }
    .bioSection  {
        .bioText {
            display: inline-block;
            width: 70%;
            margin-left: 5%;
            @media #{$biggerMobile} {
                width: 68%;
            }
        }
        .links {
            display: inline-block;
            @media #{$mobile} {
                display: block;
                margin-top: 0px;
                margin: auto;
                width: 85%;
            }
            @media #{$biggerMobile} {
                text-align: center;
                display: block;
            }
            a {
                margin-right: 15px;
                padding-right: 15px;
                &:nth-of-type(1) {
                    border-right: 1px solid #fff;
                }
                &:nth-of-type(2) {
                    border-right: 1px solid #fff;
                }
            }
        }
    }
}

.formArea {
    @media #{$mobile} {
        width: 275px;
        margin: auto;
        padding-top: 15px;
    }
    @media #{$biggerMobile} {
        width: 295px;
        margin: auto;
        padding-top: 20px;
    }
    @media #{$regular} {
        display: none;
    }
    .formContainer {
        .successButton {
            margin-bottom: 10px !important;
            @media #{$biggerMobile} {
                width: 100%;
            }
        }
        input {
            margin-bottom: 20px;
        }
    }
    &.hideForm {
        display: none;
    }
}

.successText {
    color: #2b9401;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOutOpacity {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}