@import "./../scss/variables";

body { 
    font-size: 24px;
    color: #333366 !important;
    /*color: #6E86B0 !important;*/
}

.section {
    display: inline-block;
    width: 50%;    
    height: 100vh;
    vertical-align: top;
    border-bottom: 10px solid #031D44;
    @media (max-width: 760px) {
        display: block;
        width: 100%;
        height: 50vh;
    }
}

.header {
    font-size: 60px;
    font-weight: 500;
    line-height: 1.2;
    @media (min-width: 760px) and (max-width: 800px) {
        font-size: 55px;
    }
    @media (max-width: 420px) {
        font-size: 52px;
    }
}

.valuePropText {
    margin-bottom: 50px;
}

.innerContent {
    position: relative;
    top: 25%;
    margin: auto;
    width: 400px;
    @media (min-width: 760px) and (max-width: 800px) {
        padding: 15px;
    }
}

.informationSection {
    background: #fafafa;
    /*.header {
        width: 400px;
    }*/
    @media (max-width: 760px) {
        position: absolute;
        top: 100%;
        width: 100%;
    }
    .innerContent {
        @media (max-width: 420px) {
            top: 10%;
            width: 350px;
        }
    }
}

.resultsSection {
    background-image: url('./../images/blue-bg.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .sunImg {
        width: 355px;
    }
    .innerContent {
        @media (max-width: 760px) {
            top: 15%;
            width: 300px;
            .sunImg {
                width: 300px;
            }
        }
    }
}

.styles_modal__gNwvD {
    .questionImage {
        width: 250px;
        position: relative;
        top: 10px;
    }
    .styles_closeButton__20ID4  {
        width: 25px;
        display: none !important;
        &:focus { outline: none }
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 992px) {
        width: 970px !important; 
    }
}

.sunsetContainer {
    position: relative;
    .topSection {
        text-align: center;
        /*background: #4A90E2;*/
        /*color: #fff;*/
        padding-top: 15px;
        /*padding-bottom: 5px;*/
        @media #{$oldPhone} {
            font-size: 30px !important;    
        }
        @media #{$phone} {
            font-size: 32px;    
        }
        @media #{$widePhone} {
            padding-left: 10px;
            padding-right: 10px;
        }
        @media #{$desktop} {
            font-size: 40px;
            margin-bottom: 50px;
        }
        .header {
            margin-bottom: 10px;
        }
    }
    .middleContainer {
        color: #555;
        @media #{$phone} {
            font-size: 16px;
        }
        @media #{$desktop} {
            padding-right: 0px;
            padding-left: 15px;
            font-size: 20px;
        }
        .subHeader {
            width: auto;
            padding-left: 10px;
            margin: auto;
            margin-top: 10px;
            clear: both;
            @media #{$phone} {
                margin-bottom: 0px;
                font-size: 16px;
            }
            @media only screen and (min-device-width: 375px){
                margin-bottom: 5px;
                font-size: 1.1em;
            }
            @media #{$desktop} {
                margin-bottom: 10px;
                font-size: 20px;
                margin-top: 20px;
            }
        }
        .sunsetwxLink {
            font-size: 0.8em;
        }
        .rightContainer {
            @media #{$phone} {
                display: none;
            }
            @media #{$desktop} {
                display: inline-block;
                width: 39%;
            }
            @media #{$ipadPortrait} {
                width: 50%;
            }
            .actionsContainer {
                .phoneNumberLabel {
                    font-size: 12px;
                    display: block;
                    margin-bottom: 2px;
                }
            }
            .descriptionText {
                font-weight: 500;
            }
        }
        .leftContainer {
            text-align: center;
            vertical-align: top;
            @media #{$desktop} {
                display: inline-block;
                width: 40%;
                margin-right: 3%;
                margin-left: 5%;
            }
            @media #{$ipadPortrait} {
                margin-right: 8%;
                margin-left: 0%;
                position: relative;
                right: 2%;
            }
            .imagesContainer {
                position: relative;
                left: 0;
                height: 268px;
                @media #{$phone} {
                    margin-top: 0px;
                    bottom: 5px;
                }
                @media #{$desktop} {
                    top: 10px;
                    margin: 0;
                    margin-top: 10px;
                    margin-bottom: 30px;
                    bottom: 0px;
                }
                .sunImageContainer {
                    @media #{$desktop} {
                        &:hover {
                            transform: scale(1.13);
                            -webkit-transition: .3s ease-out; 
                        }
                        &.shrink {
                            &:hover {
                                transform: scale(1);
                                -webkit-transition: .3s ease-out; 
                            }
                            .sunInnerImg {
                               &:hover {
                                   cursor: normal;
                                   opacity: 1;
                               } 
                            }
                        }
                    }
                }
                .sunInnerImg {
                    position: absolute;
                    z-index: 1000000;
                    @media #{$oldPhone} {
                        left: 63px !important;
                    }
                    @media #{$phone} {
                        width: 165px;
                        left: 83px;
                        top: 42px;
                    }
                    @media #{$widePhone} {
                        left: 108px;
                    }
                    // iPhone
                    @media only screen and (min-device-width: 375px) and (max-device-width: #{$bp-small}){
                       left: 90px;
                    }
                    @media #{$ipadPortrait} {
                        left: 51px !important;
                    }
                    @media #{$desktop} {
                        width: 205px;
                        left: 89px;
                        top: 47px;
                        &:hover {
                            cursor: pointer;
                            opacity: 0.9;
                        }
                    }
                }
                .sunOuterImg {
                    position: relative;
                    top: 0;
                    left: 0;
                    &:hover {
                        cursor: pointer;
                        opacity: 0.9;
                    }
                    @media #{$phone} {
                        width: 255px;
                    }
                    @media #{$desktop} {
                        width: 305px;
                    }
                }
                .spin {
                    -webkit-animation:spin 4s linear infinite;
                    -moz-animation:spin 4s linear infinite;
                    animation:spin 4s linear infinite;
                }
                @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
                @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
                @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
                
                .infoContainer {
                    @media #{$desktop} {
                        position: relative;
                        left: 40px;
                    }
                    .sunFullImage {
                        position: relative;
                        bottom: 22px;
                        @media #{$oldPhone} {
                            right: 115px !important;
                        }
                        @media #{$phone} {
                            right: 130px;
                        }
                        @media #{$widePhone} {
                            right: 141px;
                        }
                        @media #{$desktop} {
                            right: 350px;
                            top: 74px;
                        }
                        @media #{$ipadPortrait} {
                            right: 142px; 
                            top: -43px;
                        }
                    }

                    .errorImg {
                        position: relative;
                        @media #{$phone} {
                            right: 140px;
                            bottom: 25px;
                        }
                        @media #{$desktop} {
                            right: 210px;
                            bottom: 70px;
                        }
                    }

                    &.loadingContainer {
                        .sunFullImage {
                            bottom: 28px;
                            @media #{$desktop} {
                                right: 350px;
                                top: -21px;
                            }
                        }
                    }

                    @keyframes pulse {
                      0%, 100% {
                        background: $gray;
                        transform: scale(1);
                      }

                      50% {
                        background: $dark-gray;
                        transform: scale(1.025);
                      }
                    }


                    .dots {
                        top: 50%;
                        position: relative;
                        margin: 0 auto;

                        &, &:before, &:after {
                            content: "";
                            width: 10px;
                            height: 10px;
                            background: $gray;
                            border-radius: 50%;
                            animation: pulse 1.5s linear infinite;
                        }

                        & {
                            animation-delay: 0.66s;
                        }

                        &:before {
                            position: absolute;
                            left: -15px;
                            animation-delay: 0.33s;
                        }

                        &:after {
                            position: absolute;
                            right: -15px;
                            animation-delay: 0.99s;
                        }
                    }

                    .loadingBubble {
                        @media #{$phone} {
                            height: 164px;
                        }
                        @media #{$desktop} {
                            height: 204px;
                        }
                    }

                    .infoBubble {
                        display: inline-block;
                        position: relative;
                        background-color: #F2F3F5;
                        text-align: left;
                        width: 75%;
                        @media #{$oldPhone} {
                            padding: 1.25rem 1.25rem !important;
                        }
                        @media #{$phone} {
                            padding: 1.5rem 1.5rem;
                            margin-top: 15px;
                            margin-left: 16%;
                            border-radius: 65px;
                        }
                         @media #{$ipadPortrait} {
                            width: 100%;
                            padding: 2rem 1.5rem !important;
                         }
                        @media #{$desktop}{
                            padding: 2rem 2.5rem;
                            margin: 3.4rem 0 10rem;
                            margin-top: 35px;
                            margin-bottom: 50px;
                            border-radius: 85px;
                        }
                        p {
                            margin-bottom: 5px;
                            &:nth-of-type(1) {
                                /*margin-bottom: 10px;*/
                                font-weight: 500;
                            }
                        }
                        .questionImage  {
                            display: inline-block;
                            margin-left: 5px;
                            position: relative;
                            bottom: 1px;
                            @media #{$phone} {
                                width: 15px;
                            }
                             @media #{$desktop} {
                                width: 18px;
                             }
                        }
                        .changeTemperatureLink {
                            display: inline-block;
                            font-size: 0.8em;
                            vertical-align: text-bottom;
                        }
                    }

                    .infoBubble:before {
                        border-width: 25px 25px 0 25px;
                        border-color: #F2F3F5 transparent transparent transparent;
                        content: "";
                        position: absolute;
                        -webkit-transform: rotate(180deg);
                        border-radius: 50%;
                        background: #F2F3F5;
                        @media #{$phone} {
                            bottom: -5px;
                            left: 3px;
                            width: 18px;
                            height: 18px;
                        }
                        @media #{$desktop} {
                            bottom: -10px;
                            left: 10px;
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .errorBubble {
                        background-color: #555;
                        color: #fff; 
                    }
                    .errorBubble:before {
                        border-color: #555 transparent transparent transparent;
                        background: #555;
                    }
                }
                /*&.randomLocation {
                    @media #{$desktop}{
                        margin-left: 15px;
                    }
                }*/
            }
            .linksContainer {
                position: relative;
                right: 2.5px;
                bottom: 15px;
                font-size: 0.8em;
                @media #{$phone} {
                    margin-bottom: 10px;
                }
                @media #{$ipadPortrait} {
                    left: 8.5px;
                }
                @media #{$desktop} {
                    top: 30px;
                    margin-bottom: 0;
                }
                &.altLinksContainer {
                    left: 0;
                    /*@media #{$desktop}{
                        left: 50px;
                        text-align: ce;
                    }*/
                }
                .showMySunsetLink  {
                    border-right: 1px solid #bbb;
                    padding-right: 10px;
                }
                .showRandomSunsetLink {
                    padding-left: 10px;
                }
            }
        }
        .notificationText {
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 0.2s;
            @media #{$desktop} {
                padding-left: 0px;
            }
        }
        .successNotification {
            color: #2b9401;
            font-size: 0.8em;
        }
        @keyframes fadeInOpacity {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        .rightContainer {
            /*vertical-align: top;*/
             .infoImage {
                width: 450px;
                position: absolute;
                left: -10px;
                bottom: 75px;
            }
        }
        .formContainer {
            position: relative;
            bottom: 15px;
            @media #{$desktop} {
                top: 20px;
            }
            .submitButton {
                color: #fff;
/*                background-color: #2b9401;
*/                background: #8ad88a;
/*                border: 1px solid #237600;
*/              padding: 6px 12px;
                border: none;
                font-size: 1em;
                border-radius: 5px;
                cursor: pointer;
                @media #{$phone} {
                    width: 100%;
                }
                @media #{$ipadPortrait} {
                    width: 175px !important;
                }
                @media #{$desktop} {
                    margin-top: 0;
                    width: 180px;
                }
                &:hover {
                    /*background-color: #237600;*/
                    background: #6ead6e;
                    /*border-color: #195500;*/
                }
                &:focus {outline: 0}
            }
            .phoneNumberField {
                height: 44px !important;
                margin-bottom: 10px;
                cursor: auto;
                @media #{$desktop}{
                    width: 46% !important;
                    display: inline-block !important;
                    margin-right: 15px; 
                }
            }
            .findLocationButton {
                background: #fff;
                height: 44px;
                border: 1px solid #CCC;
                margin-bottom: 25px;
                padding: 6px 12px;
                border-radius: 5px;
                color: #555;
                font-size: 0.8em;
                cursor: pointer;
                @media #{$phone} {
                    width: 100%; 
                }
                @media #{$desktop} {
                    width: 175px;
                }
                &:hover {
                    background-color: #eee;
                    border-color: #aaa;
                }
                &:focus {outline: 0}
            }
        }
        a {
            color: #ff3333;
        }
    }
    .mobileHide {
        @media only screen and (max-device-width: 415px) {
            display: none !important;
        }   
    }
    .webHide {
        @media #{$desktop} {
            display: none !important;
        }
    }
    .cropsContainer {
        position: relative;
        text-align: center;
        margin-top: 5%;
        z-index: 10000;
    }
    .footer {
        background: #F4EBE8;
        bottom: 0;
        left: 0;
        padding: 30px 0;
        position: fixed;
        right: 0;
        text-align: center;
        .footerText {
            display: inline-block;
            width: 21.9%;
            border-left: 1px solid #999;
            position: relative;
            top: 8px;
            @media #{$phone} {
                width: 35%;
                border: none;
                display: block;
                margin: auto;
                padding-bottom: 10px;
            }
            &.name {
                font-size: 18px;
            }
            &:nth-of-type(1) {
                border-left: none;
            }
        }
    }
    a {
        &:hover {
                cursor: pointer;
                text-decoration: underline !important;
            }
    }
}