$gray: #B6B5B9;
$light-gray: #E6E7ED;
$dark-gray: #898989;

.sunsetContainer {
    .topSection {
        font-size: 32px;
        text-align: center;
        background: #4A90E2;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        @media only screen and (min-device-width: 480px){
            font-size: 40px;
            margin-bottom: 20px;
        }
        .header {
            margin-bottom: 10px;
        }
    }
    .middleContainer {
        font-size: 16px;
        color: #555;
        @media only screen and (min-device-width: 480px){
            padding-right: 0px;
            padding-left: 15px;
            font-size: 20px;
        }
        .subHeader {
            width: auto;
            padding-left: 10px;
            margin: auto;
            clear: both;
            margin-top: 10px;
            margin-bottom: 0px;
            font-size: 16px;
            @media only screen and (min-device-width: 375px){
              margin-bottom: 5px;
              padding-left: 12px
            }
            @media only screen and (min-device-width: 480px){
                width: 70%;
                margin-bottom: 10px;
                font-size: 20px;
                margin-top: 20px;
            }
        }
        .sunsetwxLink {
            font-size: 0.8em;
        }
        .rightContainer {
            display: none;
            @media only screen and (min-device-width: 480px){
                display: inline-block;
                width: 40%;
                .actionsContainer {
                    position: relative;
                    top: 30px
                }
            }
            .descriptionText {
                color: #4990e2;
            }
        }
/*        @media only screen and (min-device-width: 768px){}
*/        .leftContainer {
           text-align: center;
            @media only screen and (min-device-width: 480px){
                display: inline-block;
                width: 40%;
                margin-right: 3%;
                margin-left: 5%;
            }
            .imagesContainer {
                position: relative;
                left: 0;
                margin-top: 0px;
                height: 268px;
                bottom: 5px;
                @media only screen and (min-device-width: 480px){
                    top: 10px;
                    margin: 0;
                    margin-top: 10px;
                    margin-bottom: 30px;
                    bottom: 0px;
                }
                .sunInnerImg {
                    position: absolute;
                    top: 42px;
                    z-index: 1000000;
                    width: 165px;
                    left: 83px;
                    &:hover {
                        cursor: pointer;
                        opacity: 0.85;
                    }
                    // iPhone
                    @media only screen and (min-device-width: 375px){
                       left: 90px;
                    }
                    @media only screen and (min-device-width: 480px) {
                        width: 205px;
                        left: 89px;
                        top: 47px;
                    }
                }
                .sunOuterImg {
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 255px;
                    @media only screen and (min-device-width: 480px) {
                        width: 305px;
                    }
                }
                .spin {
                    -webkit-animation:spin 4s linear infinite;
                    -moz-animation:spin 4s linear infinite;
                    animation:spin 4s linear infinite;
                }
                @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
                @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
                @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
                
                .infoContainer {
                    @media only screen and (min-device-width: 480px){
                        position: relative;
                        left: 40px;
                    }
                    .sunFullImage {
                        bottom: 22px;
                        right: 130px;
                        position: relative;
                        @media only screen and (min-device-width: 480px){
                            right: 345px;
                            top: 63px;
                        }
                    }

                    .errorImg {
                        position: relative;
                        right: 140px;
                        bottom: 25px;
                        @media only screen and (min-device-width: 480px){
                            right: 210px;
                            bottom: 70px;
                        }
                    }

                    &.loadingContainer {
                        .sunFullImage {
                            bottom: 28px;
                            @media only screen and (min-device-width: 480px){
                                right: 345px;
                                top: -33px;
                            }
                        }
                    }

                    @keyframes pulse {
                      0%, 100% {
                        background: $gray;
                        transform: scale(1);
                      }

                      50% {
                        background: $dark-gray;
                        transform: scale(1.025);
                      }
                    }


                    .dots {
                        top: 50%;
                        position: relative;
                        margin: 0 auto;

                        &, &:before, &:after {
                            content: "";
                            width: 10px;
                            height: 10px;
                            background: $gray;
                            border-radius: 50%;
                            animation: pulse 1.5s linear infinite;
                        }

                        & {
                            animation-delay: 0.66s;
                        }

                        &:before {
                            position: absolute;
                            left: -15px;
                            animation-delay: 0.33s;
                        }

                        &:after {
                            position: absolute;
                            right: -15px;
                            animation-delay: 0.99s;
                        }
                    }

                    .loadingBubble {
                        height: 164px;
                        @media only screen and (min-device-width: 480px) {
                            height: 204px;
                        }
                    }

                    .infoBubble {
                        padding: 1.5rem 1.5rem;
                        margin-top: 15px;
                        margin-left: 16%;
                        border-radius: 65px;
                        display: inline-block;
                        position: relative;
                        background-color: #F2F3F5;
                        text-align: left;
                        width: 75%;
                        @media only screen and (min-device-width: 480px){
                            padding: 2rem 2.5rem;
                            margin: 3.4rem 0 10rem;
                            margin-top: 35px;
                            margin-bottom: 50px;
                        }
                        p {
                            margin-bottom: 5px;
                            &:nth-of-type(1) {
                                /*margin-bottom: 10px;*/
                                font-weight: 500;
                            }
                        }
                        .questionImage  {
                            display: inline-block;
                            width: 18px;
                            margin-left: 5px;
                        }
                    }

                    .infoBubble:before {
                        border-style: solid;
                        border-width: 25px 25px 0 25px;
                        border-color: #F2F3F5 transparent transparent transparent;
                        content: "";
                        width: 15px;
                        height: 0;
                        position: absolute;
                        bottom: 0px;
                        left: 8px;
                        -webkit-transform: rotate(180deg)
                    }

                    .errorBubble {
                        background-color: #555;
                        color: #fff; 
                    }
                    .errorBubble:before {
                        border-color: #555 transparent transparent transparent;
                    }
                }
                /*&.randomLocation {
                    @media only screen and (min-device-width: 480px){
                        margin-left: 15px;
                    }
                }*/
            }
            .linksContainer {
                position: relative;
                right: 3px;
                bottom: 15px;
                font-size: 0.8em;
                margin-bottom: 10px;
                @media only screen and (min-device-width: 480px){
                    right: none;
                    top: 30px;
                    margin-bottom: 0;
                }
                &.altLinksContainer {
                    left: 0;
                    /*@media only screen and (min-device-width: 480px){
                        left: 50px;
                        text-align: ce;
                    }*/
                }
                .showMySunsetLink  {
                    border-right: 1px solid #bbb;
                    padding-right: 10px;
                }
                .showRandomSunsetLink {
                    padding-left: 10px;
                }
            }
        }
        .rightContainer {
            /*vertical-align: top;*/
             .infoImage {
                width: 450px;
                position: absolute;
            }
        }
        .formContainer {
            position: relative;
            bottom: 15px;
            @media only screen and (min-device-width: 480px){
                bottom: 0px;
            }
            .submitButton {
                color: #fff;
                background-color: #2b9401;
                border: 1px solid #237600;
                padding: 6px 12px;
                font-size: 1em;
                border-radius: 5px;
                width: 100%;
                @media only screen and (min-device-width: 480px){
                    margin-top: 0;
                    width: auto;
                }
                &:hover {
                    background-color: #237600;
                    border-color: #195500;
                }
            }
            .phoneNumberField {
                height: 44px !important;
                margin-bottom: 10px;
                @media only screen and (min-device-width: 480px){
                    width: 46% !important;
                    display: inline-block !important;
                    margin-right: 15px; 
                }
            }
            .findLocationButton {
                width: 100%;
                background: lightgray;
                height: 44px;
                border: none;
                margin-bottom: 25px;
                padding: 6px 12px;
                border-radius: 5px;
                color: #555;
                font-size: 0.8em;
                @media only screen and (min-device-width: 480px) {
                    width: 175px;
                }
            }
        }
        .webHide {
            @media only screen and (min-device-width: 480px){
                display: none;
            }
        }
        a {
            color: #ED675C;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}



h1 {
  color: green; }

.Toaster__manager-top {
  position: absolute;
  bottom: 500px !important; }

.notifyMe {
  position: relative;
  top: 150px; 
}


.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 5s; }

@keyframes fadeInOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.success {
  color: green;
  -webkit-animation: fadeinout 5s linear forwards;
  animation: fadeinout 5s linear forwards; }

.errorDisplay {
  position: relative;
  bottom: 5px; 
}
  .errorDisplay .errorContent {
    color: #c9302c;
    margin-right: 5px; 
}
  .errorDisplay .closeLink {
    cursor: pointer; 
}

@-webkit-keyframes fadeinout {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes fadeinout {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

.hidden {
  opacity: 0;
  /*transition: all 250ms linear;
  pointer-events:none;*/ }

body {
  font-size: 18px; }

.fileContainer {
  box-shadow: none !important; }

.row {
  display: inline-block;
  position: relative;
  right: 350px; }
  .row .navLink {
    margin-bottom: 15px;
    display: inline-block; 
  }


.l-site {
  margin: 0 auto;
  max-width: 1900px;
  position: relative;
  z-index: 1; }

.l-site:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  display: block;
  background: #fff;
  z-index: 1; }

.l-page {
  position: relative;
  margin-left: 10px;
  background: #fff;
  z-index: 2;
  box-shadow: 1px 0 25px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  transition: 0.35s; }

.l-nav {
  position: absolute;
  width: 100px;
  display: block;
  background: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3; }

.band h1 {
  margin: 0;
  padding: 0 0 10px;
  color: #fff;
  font-size: 32px; }

.band p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 17px; }

.band-container {
  left: 0;
  right: 0;
  margin: 0 auto;
  min-height: 65vh;
  max-width: 960px;
  display: table;
  position: relative;
  padding: 0 3em; }

.band-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 3em 0 4em; }

.band-a {
  /*background-image: url("../img/img1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 1630px 700px;*/
  background: #cfd161; }

.band-b {
  background: #6db9c5; }

.band-c {
  background: #F38630; }

.band-d {
  background: #ec8c69; }

.nav {
  width: 100px;
  position: fixed;
  top: 200px;
  bottom: 0;
  margin: 0;
  padding: 10px;
  overflow: auto; }

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav li {
  margin: 0;
  padding: 0;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s; }

.nav a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  display: block;
  padding: 10px 0;
  font-family: 'Roboto', sans-serif; }

.nav .nav-primary {
  opacity: 1; }

.nav .nav-primary:hover {
  opacity: 0.7; }

.nav .nav-secondary {
  opacity: 0.4; }

.nav .nav-secondary:hover {
  opacity: 0.7; }

.menu {
  display: none;
  position: fixed;
  top: 25px;
  left: 1.5em;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 10; }

.menu:hover .menu-hamburger:before,
.menu:hover .menu-hamburger:after {
  width: 24px; }

.menu.is-active .menu-hamburger {
  background: none; }

.menu.is-active .menu-hamburger:before,
.menu.is-active .menu-hamburger:after {
  top: 0;
  width: 24px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu.is-active .menu-hamburger:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.menu.is-active .menu-hamburger:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.menu-hamburger {
  position: relative;
  width: 24px;
  height: 4px;
  margin: 10px 0;
  background: #fff;
  border-radius: 4px;
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.menu-hamburger:before, .menu-hamburger:after {
  content: '';
  display: block;
  width: 24px;
  height: 4px;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.menu-hamburger:before {
  top: -8px;
  left: 0;
  width: 22px; }

.menu-hamburger:after {
  top: 8px;
  width: 16px;
  left: 0; }

@media screen and (max-width: 980px) {
  .menu {
    display: block; }
  .l-site.is-open {
    overflow: hidden; }
  .l-site.is-open .l-page {
    -webkit-transform: translateX(240px);
    -moz-transform: translateX(240px);
    -ms-transform: translateX(240px);
    -o-transform: translateX(240px);
    transform: translateX(240px); }
  .l-page {
    margin-left: 0;
    z-index: 3; }
  .l-nav {
    z-index: 2; }
  .band-container {
    padding: 0 1.5em; } }

#head-title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  margin: auto;
  width: 50%;
  color: #fff;
  display: block; }

/*.header-text.btn {
  border: 1px solid #fff;
  border-radius: 10;
  padding: 10px 14px;
  height: 50px;
}*/
.content {
  font-family: 'Amatic SC', cursive;
  font-size: 170px;
  font-weight: bold;
  color: #fff; }

h1 {
  font-family: 'Amatic SC', cursive; }

html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.column {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

/*-- CONTACT --*/
.contact {
  background: #ec8c69;
  padding: 6em 0em;
  overflow: hidden; }

.contact h3 {
  font-size: 2.5em;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0 auto;
  border-bottom: 2px solid white;
  width: 220px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1; }

.contact p {
  font-size: 1.2em;
  font-weight: 400;
  color: #ff6f5c;
  margin: 1em 0em 4em;
  text-align: center; }

.contact form input[type="text"] {
  width: 100%;
  padding: 1.5% 0;
  margin-bottom: 7%;
  background: none;
  color: #FFFFFF;
  font-size: 18px;
  outline: none;
  font-weight: 400;
  text-indent: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 3px; }

.contact form textarea {
  resize: none;
  width: 100%;
  padding: 2% 0;
  margin-bottom: 5%;
  background: none;
  color: #FFFFFF;
  font-size: 18px;
  outline: none;
  font-weight: 400;
  text-indent: 10px;
  border: 1px solid #FFFFFF;
  min-height: 205px;
  border-radius: 3px; }

.contact form input[type="submit"] {
  background: #000;
  padding: 0.5em 3em;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  display: block;
  outline: none;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'roboto';
  font-weight: bold;
  cursor: pointer;
  float: right; }

.contact form input[type="submit"]:hover {
  background: #FFFFFF;
  color: #000; }

.wrap {
  width: 80%;
  margin: 0px auto; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  font: inherit; }

@media (min-width: 992px) {
  .container {
    width: 970px !important; }
  .column {
    width: 50%;
    float: left; } }

