@import "./../scss/variables";

body { 
    font-size: 18px;
    color: #031D44 !important;
    /*color: #6E86B0 !important;*/
}
.sunsetContainer {
    position: relative;
    .section {
        display: inline-block;
        width: 50%;    
        height: 98.5vh;
        vertical-align: top;
        @media #{$mobile, $biggerMobile} {
            display: block;
            width: 100%;
        }
        @media (min-width: 480px) and (max-width: 760px) {
            height: 50vh;
        }
    }
    .innerContent {
        position: relative;
        top: 25%;
        margin: auto;
        width: 400px;
        @media (min-width: 760px) and (max-width: 900px) {
            padding: 15px;
        }
        .header {
            font-size: 60px;
            font-weight: 650;
            line-height: 1.2;
            @media (min-width: 760px) and (max-width: 900px) {
                font-size: 55px;
            }
            @media #{$mobile, $biggerMobile} {
                font-size: 52px;
            }
        }
    }
    .successButton {
        background: #094CB1;
        height: 44px !important;
        border: 1px solid #031D44;
        padding: 6px 12px;
        border-radius: 5px;
        color: #fafafa;
        cursor: pointer;
        margin-bottom: 20px;

        @media #{$mobile} {
            width: 100%; 
        }
        @media #{$regular} {
            width: 44%;
        }
        &:hover {
            background-color: #031D44;
            border-color: #031D44;
        }
        &:focus { outline: 0 }
        &.signupButton {
            width: 100%;
        }
    }
    label {
        display: block !important;
        margin-bottom: 0.25em !important;
    }
    .link {
        padding-bottom: 3px;
        border-bottom: 2px solid #031D44;
        text-decoration: none !important;
    }
    .bottomSection {
        background: rgba(3, 29, 68, 0.75);
        height: 1.5vh;
        @media #{$mobile, $biggerMobile} {
            display: none;
        }
    }
}