@import "./../scss/variables";
.informationSection {
    background: #fafafa;
    /*.header {
        width: 400px;
    }*/
    &.hideInformationView {
        @media (max-width: 760px) {
            display: none;
        }
    }
    @media (max-width: 760px) {
        position: absolute;
        top: 100%;
        width: 100%;
    }
    .innerContent {
        @media (max-width: 470px) {
            width: 350px;
            top: 10%;
        }
        @media (min-width: 470px) and (max-width: 760px) {
            top: 10%;
            width: 400px;
        }
        .findSunsetButton {
            
        }
        .signupLink {
            margin-left: 25px;
            &:hover {
                padding: 12px;
                background-color: rgba(3, 29, 68, 0.75);
                color: #fafafa;
                border-color: #aaa;
                border-radius: 5px;
                border-bottom: none;
                text-decoration: none !important;
            }
        }
        .valuePropText {
            font-size: 24px;
            margin-bottom: 50px;
            font-weight: 300;
            line-height: 1.35;
             @media (max-width: 760px) {
                margin-bottom: 30px;
             }
        }
        .actionsContainer {
            position: relative;
            bottom: 5px;
            input, button {
                /*width: 45%;*/
                display: inline-block;
                height: 44px !important;
            }
            .inputContainer, .linksContainer {
                display: inline-block;
                width: 45%;
            }
            .linksContainer {
                a {
                    margin-bottom: 0.25em;
                    display: block;
                }
                vertical-align: top;
                margin-left: 5%;
            }
        }
    }
}