.resultsSection {
    background-image: url('./../images/bg-home.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fafafa;

    &.fullView {
/*      opacity: 1;
        animation-name: fadeInOpacity;
        animation-timing-function: ease-in;
        animation-duration: 0.5s;
        -webkit-backface-visibility: hidden;*/
        -webkit-transition: background 200ms ease-in-out 300ms;
        -moz-transition: background 200ms ease-in-out 300ms;
        -o-transition: background 200ms ease-in-out 300ms;
        transition: background 200ms ease-in-out 300ms;
        @media (max-width: 760px) {
            height: 100vh;
        }
    } 

    .sunImg {
        width: 355px;
    }
    .navbar {
        width: 400px;
        margin: auto;
        position: relative;
        top: 5%;
        color: #031D44 !important;
        padding: 0;
        .docsLink {
            left: 88%;
            position: relative;
        }
    }
    .innerContent {
        &.resultsView {
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-timing-function: ease-in;
            animation-duration: 5s;
            -webkit-backface-visibility: hidden;
        }
        @media (min-width: 760px) {
            top: 21%;
        }
        @media (max-width: 760px) {
            width: 300px;
            .sunImg {
                width: 300px;
            }
        }
    }
    &.homePage {
        background-image: url('./../images/bg-home.png');
    }
    &.poorResult {
        background-image: url('./../images/bg-poor.png');
    }
    &.fairResult {
        background-image: url('./../images/bg-fair.png');
    }
    &.goodResult {
        background-image: url('./../images/bg-good.png');
    }
    &.greatResult {
        background-image: url('./../images/bg-great.png');
    }

    .detailsLink {
        padding-left: 5px;
        &:hover {
            background-color: rgba(3, 29, 68, 0.75);
            color: #fafafa;
            border-bottom: none;
            text-decoration: none !important;
            padding: 5px;
            margin-left: 5px;
        }
    }


    $breakpoint-alpha: 480px; // adjust to your needs

    .rubricTable {
        min-width: 450px; // adjust to your needs
        @media (max-width: 760px) {
            font-size: 1em;
        }
        @media (min-width: 760px) and (max-width: 1030px) {
            min-width: 350px;
            font-size: 14px;
        }
        td {
            display: block; 
        
            &:first-child {
                padding-top: .5em;
                width: 125px;
                font-weight: 550;
                font-size: 18px;
            }
            &:last-child {
                padding-bottom: .5em;
            }

            &:before {
                content: attr(data-th)": "; 
                font-weight: bold;

                // optional stuff to make it look nicer
                width: 6.5em; // magic number :( adjust according to your own content
                display: inline-block;
                // end options

                @media (min-width: $breakpoint-alpha) {
                    display: none;
                }
            }
        }
      
      th, td {
        text-align: left;
        
        @media (min-width: $breakpoint-alpha) {
            display: table-cell;
            padding: 1em;
          
          &:first-child {
            padding-left: 0;
          }
          
          &:last-child {
            padding-right: 0;
          }
        }

      }
      
      
    }

    .rwd-table {
      overflow: hidden;
        th, td {
            margin: .5em 1em;
            @media (min-width: $breakpoint-alpha) { 
                padding: 1em !important; 
            }
        }
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOutOpacity {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}