@import "./../scss/variables";
.outerContainer {
    display: inline;
    background: #fafafa;
    display: inherit;
}
.resultsSection {
    @media #{$mobile} {
        height: 43vh !important;
    }
    background-image: url('./../images/bg-home.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fafafa;

    &.poorResult {
        background-image: url('./../images/bg-poor.png');
    }
    &.fairResult {
        background-image: url('./../images/bg-fair.png');
    }
    &.goodResult {
        background-image: url('./../images/bg-good.png');
    }
    &.greatResult {
        background-image: url('./../images/bg-great.png');
    }

    &.fullView {
        @media #{$mobile} {
            transition: all 800ms ease-in-out 40ms;
        }
        -webkit-backface-visibility: hidden;
        -webkit-transition: all 200ms ease-in-out 300ms;
        -moz-transition: all 200ms ease-in-out 300ms;
        -o-transition: all 200ms ease-in-out 300ms;
        transition: all 200ms ease-in-out 300ms;

        @media #{$mobile, $biggerMobile} {
            height: 100vh !important;
        }
         .innerContent {
            @media #{$mobile} {
                text-align: center;
            }
         }
    }
    &.shortened {
        height: 68vh !important;
        -webkit-transition: all 800ms ease;
        -moz-transition: all 800ms ease;
        -o-transition: all 800ms ease;
        -ms-transition: all 800ms ease;
        transition: all 800ms ease;
    }
    .navbar {
        margin: auto;
        position: relative;
        top: 5%;
        color: #031D44 !important;
        padding: 0;
        @media #{$mobile} {
            width: 295px;
        }
        @media (min-width: 480px) and (max-width: 950px) {
            width: 400px;
        }
        @media #{$regular} {
            width: 450px;
        }
        .docsLink {
            position: relative;
            padding-bottom: 3px;
            cursor: pointer;
            height: 27px;
            overflow: visible;
            &:hover {
                border-bottom: 2px solid #031D44;;
            }
        }
        .backLink {
            position: relative;
            padding-bottom: 3px;
            cursor: pointer;
            height: 27px;
            overflow: visible;
            &:hover {
                border-bottom: 2px solid #031D44;;
            }
        }
    }
    .innerContent {
        @media #{$mobile} {
            width: auto;
            text-align: center;
            top: 7.5%;
        }
        @media #{$biggerMobile} {
            width: auto;
            text-align: center;
            top: 3.5%;
        }
        &.homePage {
            background-image: url('./../images/bg-home.png');
        }
        .resultsContainer, .rubricTable {
            opacity: 0.85;
            a {
                cursor: pointer;
            }
        }
        &.resultsView {
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-timing-function: ease-in;
            animation-duration: 2.85s;
            -webkit-backface-visibility: hidden;
            @media #{$mobile, $biggerMobile} {
                top: 20%;
                width: 295px !important;
                text-align: left;
            }
            &.rubricView {
                @media #{$mobile} {
                    top: 10%;
                    width: 295px !important;
                    text-align: left;    
                }
                @media (min-width: 480px) and (max-width: 950px) {
                    width: 400px !important;
                    text-align: left;
                }
                @media #{$regular} {
                    width: 450px;
                }
            }
            .successButton {
                margin-top: 35px;
            }
            .downButton {
                float: right;
                margin-top: 25px;
            }
        }
        @media #{$regular} {
            top: 21%;
        }
        .mediumText {
            font-size: 36px;
            font-weight: 550;
            opacity: 0.85;
            @media #{$mobile, $biggerMobile} {
                font-size: 27px;
            }
            @media #{$biggerMobile} {
                font-size: 29px;
            }
        }
        .changeTemperatureLink {
            margin-left: 10px;
            padding-bottom: 0px;
            &:hover {
                text-decoration: none !important;
                background-color: rgba(3, 29, 68, 0.75);
                padding: 5px;
                border-radius: 5px;
                margin-left: 5px;
            }
        }
        .sunImage {
            @media #{$mobile} {
                width: 270px;
            }
            @media (min-width: 480px) {
                width: 295px;
            }
            @media (min-width: 760px) {
                width: 375px;
            }
             @media (min-width: 900px) {
                width: 400px;
             }
            &:hover {
                transform: scale(1.13);
                -webkit-transition: .3s ease-out;
                cursor: pointer;
                opacity: 0.9;
            }
        }
        .spin {
            -webkit-animation:spin 5s linear infinite;
            -moz-animation:spin 5s linear infinite;
            animation:spin 5s linear infinite;
        }
        @-moz-keyframes spin { 100% { -moz-transform: scale(1.13) rotate(360deg); } }
        @-webkit-keyframes spin { 100% { -webkit-transform: scale(1.13) rotate(360deg); } }
        @keyframes spin { 100% { -webkit-transform: scale(1.13) rotate(360deg); transform:scale(1.13) rotate(360deg); } }
        .fetchErrorText {
            color: #fafafa;
            opacity: 0.85;
            font-size: 24px;
        }
    }

    .detailsLink {
        margin-left: 10px;
        padding-bottom: 2px;
        &:hover {
            background-color: rgba(3, 29, 68, 0.75);
            color: #fafafa;
            border-bottom: none;
            text-decoration: none !important;
            padding: 5px;
            margin-left: 5px;
            border-radius: 5px;
        }
    }

    .findSunsetButton {
        margin: auto;
        width: 275px;
        margin-top: 30px;
    }


    $breakpoint-alpha: 480px; // adjust to your needs

    .rubricTable {
        @media (max-width: 760px) {
            font-size: 0.8em;
        }
        td {
            display: block; 
        
            &:first-child {
                padding-top: .5em;
                width: 125px;
                font-weight: 600;
                font-size: 18px;
            }
            &:last-child {
                padding-bottom: .5em;
            }

            /*&:before {
                content: attr(data-th)": "; 
                font-weight: bold;

                // optional stuff to make it look nicer
                width: 6.5em; // magic number :( adjust according to your own content
                display: inline-block;
                // end options

                @media (min-width: $breakpoint-alpha) {
                    display: none;
                }
            }*/
        }
      
      th, td {
        text-align: left;
        
        @media (min-width: $breakpoint-alpha) {
            display: table-cell;
            padding: 1em;
          
          &:first-child {
            padding-left: 0;
          }
          
          &:last-child {
            padding-right: 0;
          }
        }

      }
    }

    .rwd-table {
      overflow: hidden;
        th, td {
            margin: .5em 1em;
            @media (min-width: $breakpoint-alpha) { 
                padding: 1em !important; 
            }
        }
    }
    .showMobile {
        @media #{$mobile, $biggerMobile} {
            display: block;
        }
        @media #{$regular} {
            display: none;
        }
    }
}

.formArea {
    padding: 10px;
    padding-top: 15px;
     @media #{$regular} {
        display: none;
     }
    .formContainer {
        .successButton {
            margin-bottom: 10px !important;
        }
        input {
            margin-bottom: 20px;
        }
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOutOpacity {
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}