$gray: #B6B5B9;
$light-gray: #E6E7ED;
$dark-gray: #898989;

$bp-smallest: 320px;
$bp-small: 400px;
$bp-medium: 480px;

$mobile: "(max-width: 479px)";
$biggerMobile: "(min-width: 480px) and (max-width: 767px)";
$regular: "(min-width: 768px)";